@use '../../styles/variables' as *;

.nav {
    background-color: var(--bg-color);
    grid-area: header;
    display: flex;
    justify-content: end;
    align-items: center;
    display: flex;
    padding: 0 1rem 0 0;
    color: var(--text-color);

    @media screen and (min-width: $tablet-width) {
        justify-content: space-between;
    }
}

.nav__logo {
    display: none;

    @media screen and (min-width: $tablet-width) {
        display: initial;
        width: 70px;
        height: 50px;
    }
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    list-style: none;
    margin: 0 0.25rem;
    text-align: center;
    font-size: 1rem;

    @media screen and (min-width: $tablet-width) {
        margin: 0 0.625rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.nav__lang {
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media screen and (min-width: $tablet-width) {
        font-size: 1rem;
        height: 2.125rem;
        line-height: 2.125rem;
        width: 2.125rem;
    }
}

// Custom checkbox copied online
.switch {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;

    @media screen and (min-width: $tablet-width) {
        height: 30px;
        width: 60px;
    }
    
    &-wrapper {
        position: relative;
        margin-left: 20px;
        display: flex;
        align-items: center;
        
        @media screen and (min-width: $tablet-width) {
            margin-left: 10px;
        }
        
        &:before, &:after {
            font-size: 17px;
        }
        
        &:before {
            content: "☼";
            position: absolute;
            left: -17px;
        }

        &:after {
            content: "☽";
            position: absolute;
            right: -12px;
        }
    }

}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    content: "";
    position: absolute;
    transition: .4s;

    bottom: 2px;
    height: 16px;
    left: 3px;
    width: 16px;

    @media screen and (min-width: $tablet-width) {
        bottom: 3px;
        height: 24px;
        left: 4px;
        width: 24px;
    }
   
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(17px);

    @media screen and (min-width: $tablet-width) {
        transform: translateX(26px);
    }
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}