@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(../assets/fonts/Oswald/static/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../assets/fonts/Roboto/static/Roboto-Regular.ttf) format('truetype');
}