@use 'variables.scss' as *;
@use 'typography.scss' as *;
@use 'fonts.scss' as *;

body {
    margin: 0;
    padding: 0;
    // font-family: 'Oswald', 'Roboto', sans-serif;
}

[data-theme="light"] {
    --bg-color: #ebbe00;
    --text-color: #000
}

[data-theme="dark"] {
    --bg-color: rgb(30, 124, 124);
    --text-color: #fff
}

// TODO: sccs variable where
// [data-theme="light"] {
//     $bg-color-light: rgb(138, 138, 138);;
//     $color-light: black;
// }

// [data-theme="dark"] {
//     $bg-color-dark: rgb(30, 124, 124);;
//     $color-dark: white;
// }